<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <section class="section pb-3">
        <h2 class="section-heading h1 pt-4">
            <strong>Open yourself to new books ...</strong>
        </h2>
        <p class="lead grey-text">Daily reading will bring you to dream, to feel and to reach new areas that you have never reached.</p>
        <div class="row text-center">
            <div class="col-lg-4 col-md-12 mb-r">
                <div class="card-body mt-1">
                    <a href="" class="pink-text">
                        <h5>
                            <i class="fa fa-coffee"></i>book over cup of coffee</h5>
                    </a>
                    <h4>Title of the news</h4>
                    <p class="lead grey-text">At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis praesentium voluptatum deleniti
                        atque.</p>
                    <a class="btn btn-indigo btn-sm waves-light" mdbRippleRadius>
                        <i class="fa fa-clone left"></i> View books</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-r">
                <div class="card-body mt-1">
                    <a href="" class="blue-text">
                        <h5>
                            <i class="fa fa-camera"></i>Business books to all</h5>
                    </a>
                    <h4>Title of the news</h4>
                    <p class="lead grey-text">Nam libero tempore, cum soluta nobis est eligendi optio cumque nihil impedit quo minus id quod maxime
                        facere possimus.</p>
                    <a class="btn btn-indigo btn-sm waves-light" mdbRippleRadius>
                        <i class="fa fa-clone left"></i>View books</a>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 mb-r">
                <div class="card-body mt-1">
                    <a href="" class="purple-text">
                        <h5>
                            <i class="fa fa-plane"></i>Travels books - With guides</h5>
                    </a>
                    <h4>Title of the news</h4>
                    <p class="lead grey-text">Temporibus autem quibusdam et aut officiis debitis aut rerum necessitatibus saepe eveniet ut et voluptates
                        repudiandae.
                    </p>
                    <a class="btn btn-indigo btn-sm waves-light" mdbRippleRadius>
                        <i class="fa fa-clone left"></i> View books</a>
                </div>
            </div>
        </div>
    </section>
</body>

</html>