<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Add Book</title>
  <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
</head>

<body>
  <p id="header">{{pageTitle}}</p>
  <div class="jumbotron mt-5 ml-5 mr-5">
    <h1 id="quotes">“The best and most beautiful books in the world cannot be read or even touched - they must be felt with the heart.”</h1>
    <p id="header">
      <a class="header" href="/home">The Book Library</a>
    </p>
    <div id="header" class="container">
      <a class='btn btn-info btn-xs' data-toggle="modal" data-target="#addBook">
        <span class="glyphicon glyphicon-edit"></span> Add New Book</a>
    </div>
  </div>
  <app-get-all-books></app-get-all-books>
  <!-- add book Modal -->
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="modal fade" id="addBook" aria-labelledby="addBookLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="addBookLabel">Add New Book</h3>
          </div>
          <div class="container">
            <p>Please Fill In The Details Of The New Book :</p>
            <!--<p>Book ID :</p>
            <input type="number" formControlName="id" name="id" [(ngModel)]="id" required/>
            <div *ngIf="myForm.controls['id'].touched && !myForm.controls['id'].valid">
              <span *ngIf="myForm.controls['id'].hasError('required')">
                <p class="message">Id Is Requierd !</p>
              </span>
            </div>-->
            <p>Author Name :</p>
            <input type="text" formControlName="author" name="author" [(ngModel)]="author" required/>
            <div *ngIf="myForm.controls['author'].touched && !myForm.controls['author'].valid">
              <span *ngIf="myForm.controls['author'].hasError('required')">
                <p class="message">Author Name Is Requierd !</p>
              </span>
            </div>
            <p>Date :</p>
            <input type="date" name="date" formControlName="date" [(ngModel)]="date" required/>
            <div *ngIf="myForm.controls['date'].touched && !myForm.controls['date'].valid">
              <span *ngIf="myForm.controls['date'].hasError('required') ">
                <p class="message">Date Is Requierd !</p>
              </span>
            </div>
            <p>Title : </p>
            <input type="text" (ngModelChange)="checkIfTitleExist($event)" name="title" formControlName="title" [(ngModel)]="title" required/>
            <div *ngIf="myForm.controls['title'].touched && !myForm.controls['title'].valid">
              <span *ngIf="myForm.controls['title'].hasError('required')">
                <p class="message"> Book Title Is Requierd !</p>
              </span>
            </div>
            <span *ngIf="isAlreadyExist" class="message">
              <p>Title already exist, Please try different title !</p>
            </span>
          </div>
          <div class="modal-body">
            <strong>Would You Like To Add This Book To The List Of Books?</strong>
            <br> Click 'Add' To Add The New Book, Or Cancel !
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary btn-block" [disabled]='!myForm.valid' (click)="addBook()">Add Book</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>

</html>