<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Delete Book</title>
  <link href="http://fonts.googleapis.com/css?family=Varela+Round" rel="stylesheet" />
</head>

<body>
  <p id="header">{{pageTitle}}</p>
  <div class="jumbotron mt-5 ml-5 mr-5">
    <h1 id="quotes">“The more that you read, the more things you will know. The more that you learn, the more places you’ll go.”</h1>
    <p id="header">
      <a class="header" href="/home">The Book Library</a>
    </p>
  </div>
  <div class="container" style="overflow:left;">
    <div class="pricing-table">
      <div class="scroller-spacer" [ngStyle]="spacerStyle"></div>
      <div class="pricing-option mt-3 mr-3" *ngFor="let book of allBooks">
        <b>Title</b>
        <h1>{{book.title | titlecase | nonEnglish}}</h1>
        <b>Id : {{book.id}}</b>
        <hr />
        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sapiente harum voluptatum, sit cum voluptatibus inventore
          quae qui provident eveniet dicta at, quibusdam ipsam iusto reprehenderit hic saepe nesciunt sed illo.</p>
        <hr />
        <div class="price">
          <div class="front">
            <b>Author</b>
            <span class="price">{{book.author | titlecase | nonEnglish}}
              <b>{{book.date | date}}</b>
            </span>
          </div>
          <div class="back">
            <a class='button' data-toggle="modal" data-target="#deleteBook" (click)="openDeleteModal(book)">Delete</a>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- delete Modal -->
  <form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <div class="modal fade" id="deleteBook" aria-labelledby="deleteBookLabel" aria-hidden="true">
      <div class="modal-dialog" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h3 class="modal-title" id="deleteBookLabel">Delete Book</h3>
          </div>
          <br/>
          <div class="modal-body">
            <strong>Are you sure you want to Delete this book ?</strong>
            <br> Click 'delete' to Delete the Book, or Cancel !
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
            <button type="submit" class="btn btn-primary btn-block" [disabled]='!myForm.valid' (click)="deleteBook()">Delete Book</button>
          </div>
        </div>
      </div>
    </div>
  </form>
</body>

</html>