<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>

    <section class="intro">
        <div class="inner">
            <div class="content">
                <h1>The Book Library</h1>
                <h5>Probably the best books in the world</h5>
                <a class="btn" href="#">More Info</a>
                <a class="btn" role="button" mdbRippleRadius routerLink="/getallbooks">Watch All Books</a>
            </div>
        </div>
    </section>

    <div class="jumbotron mt-5">
        <h1 class="h1-responsive">Hello, book Worm!</h1>
        <h3>Love to read books?
            <br>
        </h3>
        <p class="lead">
            Here you will find a wide range of books: cookbooks, travel books, biographies, nature, drama, comedy and more ....</p>
        <hr class="my-2">
        <a class="btn btn-primary" role="button" mdbRippleRadius routerLink="/getAllBooks">Watch All Books</a>
    </div>
</body>

</html>