<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>

<body>
    <section class="section feature-box">
        <h2 class="section-heading h1 pt-4">
            <strong>Read The Most Powerfull Programming Books</strong>
        </h2>
        <p class="section-description lead grey-text">TypeScript (TS) and JavaScript (JS) are two widely known languages in the development world, but what are the differences
            and what use cases are better suited for one over the other?
            <strong style="color:red;">Download The Book For Free...</strong>
        </p>
        <div class="row features-small pt-2">
            <div class="col-lg-5 mb-r center-on-small-only">
                <img src="../assets/image/ecmascript-book.jpg" alt="" class="img-fluid z-depth-0">
            </div>
            <div class="col-lg-7">
                <div class="row pb-3">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-bank blue-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Practical knowledge</h5>
                        <p class="grey-text">Giving the maximum knowledge in order to master the most advanced programming language. Integrated
                            with advanced code snippets, download options for self learning and practice projects.</p>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-code blue-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">Easy to learn</h5>
                        <p class="grey-text">The goal of this book is simple: greatly strengthen your core JavaScript skills while preparing and
                            updating you to write modern JavaScript. The book includes 21 modules that go through ES6 in
                            its entirety.</p>
                    </div>
                </div>
                <div class="row pb-3">
                    <div class="col-2 col-md-1">
                        <i class="fa fa-money blue-text"></i>
                    </div>
                    <div class="col-10">
                        <h5 class="feature-title">ES6</h5>
                        <p class="grey-text">ES6 is a significant update to the language, and the first update to the language since ES5 was standardized
                            in 2009. Implementation of these features in major JavaScript engines is underway now.</p>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>

</html>